<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Add Customers</title>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div sec:authorize="isAuthenticated()" class="container authentication">
    <form class="text-center" th:action="@{/logout}" method="post">
        Welcome <span sec:authentication="name">Bob</span>
        <input class="btn btn-xs" type="submit" value="Sign Out" />
    </form>
</div>
<div class="container">
<h1>Add a New Customer</h1>
<form th:action="@{/create-customer}" method="post">
    <table>
        <tr>
            <td>First Name:</td>
            <td><input type="text" name="first_name" /></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" name="last_name" /></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type="text" name="phone" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" /></td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button class="btn btn-success">Add</button>
            </td>
        </tr>
    </table>
</form>
    <div class="container">
    <a class="btn btn-primary" href="/customers">Go Back to Customers Page</a>
    </div>
</div>
</body>
</html>