<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Customers</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/stylish-portfolio.css" rel="stylesheet"/>
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>
</head>
<body>
<header id="top" class="header-content">
    <div class="text-vertical-center">
        <h1>Gimme Customers</h1>
    </div>
</header>
<div sec:authorize="isAuthenticated()" class="authentication">
    <form class="text-center" th:action="@{/logout}" method="post">
        Welcome <span sec:authentication="name">Bob</span>
        <input class="btn btn-xs" type="submit" value="Sign Out" />
    </form>
</div>
<div sec:authorize="!isAuthenticated()" class="authentication">
    <form class="text-center" th:action="@{/login}" method="post">
        <input class="btn btn-xs" type="submit" value="Sign in" />
    </form>
</div>

<div class="container">
    <a class="btn btn-primary" href="/add-customer">Add a new Customer</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admins-only">Admin Portal</a>
</div>
<div class="container">
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    <tr th:each="customer : ${customers}">
        <td><a th:href="@{'/view-customer/' + ${customer.id}}"><span th:text="${customer.id}"></span></a></td>
        <td><span th:text="${customer.firstName}"></span> <span th:text="${customer.lastName}"></span></td>
        <td><span th:text="${customer.phone}"></span></td>
        <td><span th:text="${customer.email}"></span></td>
    </tr>
</table>
</div>

</body>
</html>