<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login to Customers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/stylish-portfolio.css" rel="stylesheet"/>
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/></head>
<body>
<header id="top" class="header-content">
    <div class="text-vertical-center">
        <h1>Gimme Customers</h1>
    </div>
</header>
<div class="container">

    <form class="form-signin" th:action="@{/login}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputUserName" class="sr-only">Email address</label>
        <input type="text" id="inputUserName" class="form-control" placeholder="Username" name="username" required="required"
               autofocus="autofocus"/>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required="required"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>

</div>
<div class="container">
    <div>
        With Github: <a href="/login/github">click here</a>
    </div>
    <div>
        With Facebook: <a href="/login/facebook">click here</a>
    </div>
    <div>
        With Google: <a href="/login/google">click here</a>
    </div>
</div>
</body>
</html>