<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>View Customer</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/assets/css/stylish-portfolio.css" rel="stylesheet"/>
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/></head>
<body>
<header id="top" class="header-content">
    <div class="text-vertical-center">
        <h1>Gimme Customers</h1>
    </div>
</header>
<div sec:authorize="isAuthenticated()" class="authentication">
    <form class="text-center" th:action="@{/logout}" method="post">
        Welcome <span sec:authentication="name">Bob</span>
        <input class="btn btn-xs" type="submit" value="Sign Out"/>
    </form>
</div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            Name: <span th:text="${customer.firstName}"></span> <span th:text="${customer.lastName}"></span><br/>
            ID: <span th:text="${customer.id}"></span><br/>
            Phone: <span th:text="${customer.phone}"></span><br/>
            Email: <span th:text="${customer.email}"></span><br/>
        </div>
    </div>
    <a class="btn btn-primary" href="/customers">Go Back to Customers Page</a>
</div>
</body>
</html>